<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config />

    <context:component-scan base-package="cn.cisol.mvcdemo">
        <context:exclude-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    
  
<bean id="userService" class="com.itheima.a_proxy.a_aspectJ_xml.UserServiceImpl"></bean>
<bean id="myAspect" class="com.itheima.a_proxy.a_aspectJ_xml.MyAspect"></bean>
<!--<aop-aspect>将切面类声明成切面，从而获得通知（方法）  -->
<aop:config>
	<aop:aspect ref="myAspect">
		<aop:pointcut expression="execution(* com.itheima.a_proxy.a_aspectJ_xml.UserServiceImpl.*(..))" id="myPointCut"/>
		<aop:before method="myBefore" pointcut-ref="myPointCut"/>
		<aop:after-returning method="myReturning" returning="ret" pointcut-ref="myPointCut"/>
		<aop:around method="myAround" pointcut-ref="myPointCut"/>
		<aop:after-throwing method="myAfterThorowing" pointcut-ref="myPointCut" throwing="e"/>
	</aop:aspect>
</aop:config>
  
</beans>