<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config />

    <context:component-scan base-package="cn.cisol.mvcdemo">
        <context:exclude-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    <!--  setter方法注入
    	*普通注入：<property name="" value=""></property>
    	   等价于<property name="">
  		            <value> </value>
             	</property>
              *引用注入
                  <property name="" ref=""></property>
  					<property name="">
  					<ref bean=""/>
  					</property>
 					
    -->
  <bean name = "person" class = "com.itheima.a_setter.Person">
  	<property name="username" value="jack"></property>
  	<property name="age">
  		<value>12</value>
  	</property>
  	<property name="address" ref="address"></property>
  	
  </bean>
  <bean name="address" class="com.itheima.a_setter.Address">
  	<property name="addr" value="jack"></property>
  	<property name="tel" value="10086"></property>
  </bean>
	
</beans>